/*
body {
  overflow-x: hidden;
  background: #1B1B1B; }
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic);
/*
Orange color: #e67e22
*/
/*--------------------------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline: none; }

html {
  background-color: #fff;
  color: #555555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

/*--------------------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------------------------------------------*/
.row {
  max-width: 1140px;
  margin: 0 auto 0 auto;
  /*top right bottom left*/
  /*<- If you notice, it's going clockwise*/
  /*You can also group top/bottom right/left like so: margin 0 auto*/ }

section {
  padding: 80px 0; }

/* HEADINGS */
h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px; }

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px; }

h2:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #e67e22;
  content: "";
  margin: 30px auto 0 auto; }

h3 {
  font-size: 110%;
  margin-bottom: 15px; }

/* PARAGRAPHS */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin: 0 15%; }

.box {
  padding: 1%; }

.box p {
  font-size: 90%;
  line-height: 145%; }

/* ICONS */
.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
  text-align: center; }

.icon-small {
  display: inline-block;
  /*So that we can assign them some width*/
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;
  /*secret to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px; }

/* BUTTONS */
.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.6s, border 0.6s, color 0.6s;
  transition: background-color 0.6s, border 0.6s, color 0.6s; }

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px; }

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22; }

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #cf6d17; }

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
  color: #fff; }

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff; }

/* Links */
a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  padding-bottom: 1px;
  -webkit-transition: border-bottom 0.3s, color 0.3s;
  transition: border-bottom 0.3s, color 0.3s; }

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent; }

/*--------------------------------------------------------------*/
/* HEADER */
/*--------------------------------------------------------------*/
.index-header {
  background-image: url(../images/first_hackaton_edit.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed; }

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 40%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px; }

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0; }

/* Main navi */
.main-nav {
  float: right;
  list-style: none;
  /*Removes bullet points*/
  margin-top: 70px;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }

.main-nav li {
  display: inline-block;
  margin-left: 40px; }

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.4s;
  transition: border-bottom 0.4s; }

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22; }

/* Sticky navi */
.sticky {
  position: fixed;
  /*Stayes always at the same point with respect to our scrolling*/
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 999; }

.sticky .main-nav {
  margin-top: 25px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 20px 0;
  color: #555; }

.sticky .logo {
  display: none; }

.sticky .logo-black {
  display: block; }

/* Mobile navi */
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none; }

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff; }

/*--------------------------------------------------------------*/
/* FEATURES */
/*--------------------------------------------------------------*/
.section-features .long-copy {
  margin-bottom: 30px; }

/*--------------------------------------------------------------*/
/* MEALS */
/*--------------------------------------------------------------*/
.section-meals {
  padding: 0; }

.meals-showcase {
  list-style: none;
  width: 100%;
  padding: 0; }

.meals-showcase li {
  display: block;
  float: left;
  width: 25%; }

.meals-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: #000; }

.meals-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
  transition: opacity 0.7s, -webkit-transform 0.7s;
  transition: transform 0.7s, opacity 0.7s;
  transition: transform 0.7s, opacity 0.7s, -webkit-transform 0.7s; }

.meals-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  transform: scale(1.03); }

/* HOW IT WORKS */
.section-steps {
  background-color: #f4f4f4; }

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px; }

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px; }

.app-screen {
  width: 40%; }

.works-step {
  margin-bottom: 50px; }

.works-step:last-of-type {
  margin-bottom: 80px; }

.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  float: left;
  font-size: 150%;
  padding: 2.5px;
  margin-right: 25px; }

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px; }

.btn-app:link,
.btn-app:visited {
  border: 0; }

/*--------------------------------------------------------------*/
/* CITIES */
/*--------------------------------------------------------------*/
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px; }

.city-feature {
  margin-bottom: 5px; }

/*--------------------------------------------------------------*/
/* TESTIMONIALS */
/*--------------------------------------------------------------*/
.section-testimonials {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers-min.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers-min.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed; }

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px; }

blockquote {
  padding: 2px;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px; }

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block; }

cite img {
  height: 50px;
  width: auto;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle; }

/*--------------------------------------------------------------*/
/* PLANS */
/*--------------------------------------------------------------*/
.section-plans {
  background-color: #f4f4f4; }

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin: 0 5%;
  /*Centered because 5% is half of = 100% - 90%*/
  box-shadow: 0 2px 2px #efefef; }

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8; }

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.plan-box div:last-child {
  text-align: center;
  /*Center the button*/
  border: 0; }

.plan-price {
  font-size: 300%;
  font-weight: 100;
  margin-bottom: 10px;
  color: #e67e22; }

.plan-price span {
  font-size: 40%;
  /*It's parent is plan-price so this percentage is based on the parent*/
  font-weight: 300;
  color: #000; }

.plan-price-meal {
  font-size: 80%; }

.plan-box ul {
  list-style: none; }

.plan-box ul li {
  padding: 5px 0; }

/*--------------------------------------------------------------*/
/* FORM */
/*--------------------------------------------------------------*/
.contact-form {
  width: 60%;
  margin: 0 auto;
  /*Centers the form on it's parent element*/
  /*margin: 0 20%;*/
  /*Alternative. this is 20% to both left and right, making up the 40% that's left after the change to the width*/ }

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc; }

textarea {
  height: 100px; }

input[type=checkbox] {
  margin: 10px 5px 10px 0; }

/*--------------------------------------------------------------*/
/* FOOTER */
/*--------------------------------------------------------------*/
footer {
  background-color: #333;
  padding: 40px;
  font-size: 80%; }

.footer-nav {
  list-style: none;
  float: left; }

.social-links {
  list-style: none;
  float: right; }

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px; }

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0; }

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888; }

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd; }

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%; }

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.ion-social-facebook:hover,
.ion-social-facebook:active {
  color: #3b5998; }

.ion-social-twitter:hover,
.ion-social-twitter:active {
  color: #00aced; }

.ion-social-googleplus:hover,
.ion-social-googleplus:active {
  color: #dd4b39; }

.ion-social-instagram:hover,
.ion-social-instagram:active {
  color: #125688; }

footer p {
  color: #888;
  text-align: center;
  margin-top: 10px; }

/*--------------------------------------------------------------*/
/* ANIMATIONS */
/*--------------------------------------------------------------*/
.js-wp-1,
.js-wp-2,
.js-wp-3 {
  opacity: 0;
  /* "Hide" the element */
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.js-wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

/* This the selector for when an element has these 2 clases at the same time */
.js-wp-1.animated,
.js-wp-2.animated,
.js-wp-3.animated {
  opacity: 1; }
